---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";
import "../styles/global.css";
import "../styles/lain.css";
const platform = "github";
const username = "cuicides";
const pageTitle = "About Me";
const identity = {
    firstName: "Zane",
    country: "US",
    occupation: "Student",
    hobbies: ["guitar"],
    github: "cuicides",
    website: "https://zane-worthington.com",
};
const skills = ["Premiere Pro", "Davinci Resolve", "Linux"];

// about me / home page
---

<html>
    <head>
        <title>{pageTitle}</title>
        <Navigation />
    </head>
    <audio controls autoplay>
        <source
            src="Black Country New Road - 'Athens, France' (Official Lyric Video).mp3"
            type="audio/ogg"
        />
    </audio>
    <body>
        <h1>{pageTitle}</h1>

        <p>Here are a few facts about me:</p>
        <footer>
            <h2>links</h2>
            <Social platform="github" username="m1m1cu1" />
            <Social platform="spacehey" username="mimicui" />
            <Social platform="youtube" username="@m1m1cu1" />
            <Social platform="instagram" username="m1m1cu1" />
            <Social platform="steamcommunity" username="/id/m1m1cu1" />
        </footer>
    </body>

    <style></style>
</html>
